@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #060822 !important;
}

li{
  list-style: none;
}
a{
  text-decoration: none;
}
